/* ===Подключаем шрифты==================================================================================================================================================== */

/* &display=swap&subset=cyrillic-ext */

@font-face {
	font-family: "Scania Sans CY Headline";
	src: url("../fonts/ScaniaSansCYHeadline-Regular.woff2") format("woff2"),
		url("../fonts/ScaniaSansCYHeadline-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Scania Sans CY";
	src: url("../fonts/") format("woff2"), url("../fonts/ScaniaSansCY-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Scania Sans CY";
	src: url("../fonts/ScaniaSansCY-Bold.woff2") format("woff2"), url("../fonts/ScaniaSansCY-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2"),
		url("../fonts/LabGrotesque-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Light.woff2") format("woff2"), url("../fonts/LabGrotesque-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2"),
		url("../fonts/LabGrotesque-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Thin.woff2") format("woff2"), url("../fonts/LabGrotesque-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

/* -----Normalize------------------------------------------------------------------------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 18px;
}
body {
	font-family: "Lab Grotesque", sans-serif;
	line-height: 1;
	color: #fff;
	background-color: #1D1D1D;
	/* background-color: #1b1b1a; */
}

[class*="__container"] {
	max-width: 1234px;
	padding: 0 20px;
	margin: 0px auto;
}

[class*="_ibg"] {
	position: relative;
}

[class*="_ibg"] img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}
.firstscreen,
.benefits,
.filling,
.fireplace-smart {
	position: relative;
}
.firstscreen:after,
.benefits:after,
.filling::after,
.fireplace-smart::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/mask.png") center / cover no-repeat;
	opacity: 0.025;
	background-blend-mode: soft-light;
	pointer-events: none;
}
/* -----Main-CSS------------------------------------------------------------------------------------------------------------------------------------------- */
.header-titles {
	text-align: center;
	color: #fff;
}
.header-titles__title {
	font-size: 40px;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	background: linear-gradient(-160deg, #fff 60%, rgba(255, 255, 255, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header-titles__title_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-titles__title_flex .header-titles__line {
	width: 40px;
	height: 1px;
	background-color: #949494;
	margin: 0px 40px;
}
.header-titles__title:not(:last-child) {
	margin: 0px 0px 21px 0px;
}
.header-titles__subtitle {
	font-size: 20px;
	line-height: 1.65;
	letter-spacing: 0.03em;
	font-weight: 300;
}
.header-titles__subtitle:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
/* ======= HEADER ========================================================================================================================================= */
.header {
	padding: 76px 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
.header__container {
	display: flex;
	align-items: center;
}
.header__logo {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	column-gap: 39px;
}
.header__logo-text {
	font-family: "Scania Sans CY Headline", sans-serif;
	font-size: 20px;
	line-height: 3.5;
	letter-spacing: 0.105em;
	color: #fff;
	white-space: nowrap;
}
.header__title {
	max-width: 100px;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: #6d6d6d;
}
.header__menu:not(:last-child) {
	margin: 0px 60px 0px 10px;
}
.menu {
	/* display: flex; */
	/* align-items: center; */
}
.menu__icon {
}
.icon-menu {
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	width: 50px;
	height: 30px;
	background-color: transparent;
}
.icon-menu span {
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	width: 75%;
	height: 2px;
	/* background-color: #fff; */
	background: linear-gradient(-135deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
	transition: all 0.3s ease 0s;
}
.icon-menu span:first-child {
	width: 100%;
	top: 0;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0;
	width: 50%;
}
.menu__body {
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}
.menu__item {
}
.menu__link {
	font-size: 13px;
	line-height: 1.23;
	letter-spacing: 0.05em;
	color: #949494;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}
.header__phone {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eccf94;
	border-radius: 2px;
	height: 50px;
	flex: 0 0 50px;
	box-shadow: 50px -50px 20px -50px rgba(249, 139, 77, 0.7) inset, -40px 50px 20px -50px rgba(255, 217, 196, 0.8) inset;
	transition: box-shadow 0.3s ease 0s;
}
.header__phone::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
	background: rgba(201, 115, 53, 0.1);
	filter: blur(15px);
	border-radius: 50%;
}
.header__phone-icon {
	width: 18px;
	height: 18px;
	position: relative;
	z-index: 2;
}
@media (any-hover: hover) {
	.menu__link:hover {
		color: #ffcf7a;
	}
	.header__phone:hover {
		box-shadow: 50px -50px 80px 0px rgba(249, 139, 77, 0.8) inset,
			-40px 50px 20px -50px rgba(255, 217, 196, 0.8) inset, 0px 0px 8px 0px rgba(249, 194, 77, 0.8);
	}
	.icon-menu:hover span {
		width: 100%;
	}
}
/* ======== PAGE ========================================================================================================================================== */
.page__firstscreen {
}
.page__benefits {
	padding: 0px 0px 99px 0px;
}
.page__filling {
	padding: 0px 0px 50px 0px;
}
/* ======================================================================================================================================================== */
.firstscreen {
	position: relative;
}
.firstscreen__decor {
	position: relative;
	padding: 231px 0px 223px 0px;
}
.firstscreen__decor::before,
.firstscreen__decor::after {
	content: "";
	position: absolute;
	background-color: #000;
	width: 60.69%;
	height: 145.29%;
	border-radius: 300px;
	filter: blur(350px);
}
.firstscreen__decor::before {
	top: 27.15%;
	left: -13.33%;
}
.firstscreen__decor::after {
	top: -31.39%;
	right: -40.41%;
}
.firstscreen__container {
	position: relative;
	z-index: 2;
}
.firstscreen__body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
}
.firstscreen__content {
	position: relative;
	z-index: 2;
	flex: 0 1 780px;
}
.firstscreen__title {
	font-size: 64px;
	font-weight: 100;
	line-height: 1.25;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background: linear-gradient(-160deg, #fff 60%, rgba(255, 255, 255, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.firstscreen__title:not(:last-child) {
	margin: 0px 0px 29px 0px;
}
.firstscreen__value {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 300;
	color: #ffcf7a;
	letter-spacing: 0.05em;
}
.firstscreen__value:not(:last-child) {
	margin: 0px 0px 86px 0px;
}
.firstscreen__small-text {
	font-size: 18px;
}
.firstscreen__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 80px;
}
.firstscreen__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 120px;
}
.firstscreen__icon {
	width: 30px;
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.firstscreen__img {
}
.firstscreen__text {
	font-size: 14px;
	line-height: 1.57;
	text-align: center;
}
.firstscreen__image {
	position: absolute;
	top: 50%;
	right: 0;
	width: 700px;
	height: 429px;
	transform: translate(0%, -50%);
}
.firstscreen__bg-img {
	z-index: 1;
}
.firstscreen__decor-image {
	position: absolute;
	top: -25px;
	left: 50%;
	width: 55.71%;
	height: 37.99%;
	background: rgba(167, 79, 2, 0.25);
	filter: blur(70px);
	border-radius: 500px;
	transform: translate(-50%, 0%) rotate(161.87deg);
}
.firstscreen__decor-image::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 53.37%;
	width: 51.53%;
	background: rgba(255, 206, 122, 0.25);
	filter: blur(50px);
	border-radius: 500px;
	transform: translate(-50%, -50%) rotate(161.87deg);
}
/* ======================================================================================================================================================== */
.benefits {
}
.benefits__container {
	max-width: 1329px;
}
.benefits__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.benefits__header {
	max-width: 675px;
	position: relative;
	z-index: 2;
}
.benefits__image {
	position: relative;
}
.benefits__image::before {
	content: "";
	background: url("../img/benefits/bg-decor.png") center / cover no-repeat;
	width: 100%;
	height: 235.51%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
.benefits__img {
	max-width: 100%;
	position: relative;
}
.benefits__items {
	max-width: 1037px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	margin: 0 -15px;
	row-gap: 50px;
}
.benefits__item {
	flex: 0 1 33.333%;
	display: flex;
	align-items: center;
	column-gap: 29px;
	padding: 0 15px;
}
.benefits__icon-block {
	flex: 0 0 50px;
	height: 50px;
}
.benefits__icon-block_size {
	flex: 0 0 40px;
	height: 40px;
}
.benefits__icon {
}
.benefits__text {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
}
/* ======================================================================================================================================================== */
.filling {
	position: relative;
}
.filling::before {
	content: "";
	position: absolute;
	width: 40.26%;
	height: 152.14%;
	background-color: #000;
	left: -7.84%;
	top: 0%;
	z-index: 1;
	border-radius: 300px;
	filter: blur(350px);
	transform: rotate(45deg);
}
.filling__container {
	max-width: 1231px;
	position: relative;
	z-index: 2;
}
.filling__body {
	padding: 0px 0px 0px 85px;
}
.filling__row {
	display: flex;
}
.filling__content {
	flex: 0 0 370px;
	padding: 103px 0px 0px 0px;
}
.filling__title {
	text-align: left;
}
.filling__image-column {
	flex: 1 1 auto;
	padding: 0px 0px 0px 77px;
}
.filling__image-block {
	position: relative;
}

.filling__image {
	transform: rotate(60deg);
	padding: 0px 0px 100% 0px;
}
.filling__img {
}
.filling__info-block {
	width: 22.91%;
	height: 22.91%;
	border-radius: 50%;
	position: absolute;
	top: 23.52%;
	right: 15.93%;
	z-index: 2;
}
.filling__info {
	font-family: "Scania Sans CY";
	background: radial-gradient(100% 65.98% at 100% 73.18%, #ffffff 0.31%, #ffe2a4 59.23%, #ffd47c 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	text-align: center;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;
}
.filling__info-block::before {
	content: "";
	background: url("../img/filling/main-image-decor.png") 0 0 / contain no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 445.69%;
	height: 345.03%;
	transform: translate(-50%, -50%) rotate(-190deg);
	pointer-events: none;
}
.filling__value {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
}
.filling__value-num {
	font-size: 36px;
}
.filling__value:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.filling__text {
	font-size: 10px;
	line-height: 1.4;
}
.filling__instruction {
	position: absolute;
	left: 0;
	bottom: 107px;
}
.instruction-filling {
	max-width: 180px;
}
.instruction-filling__icons {
	display: flex;
	align-items: center;
}
.instruction-filling__icons:not(:last-child) {
	margin: 0px 0px 19px 0px;
}
.instruction-filling__icon {
	flex: 0 0 20px;
	height: 20px;
	display: inline-flex;
	align-items: center;
}
.instruction-filling__line {
	width: 31px;
	height: 1px;
	background-color: #949494;
	margin: 0px 19px;
}
.instruction-filling__img {
	max-width: 100%;
}
.instruction-filling__text {
	font-size: 14px;
	line-height: 1.71;
}
/* ======================================================================================================================================================== */
.page__smart-fireplace {
}
.fireplace-smart {
}
.fireplace-smart__container {
	max-width: 1336px;
}
.fireplace-smart__header {
	position: relative;
	z-index: 2;
}
.header-titles__span {
}
.header-titles__line {
}
.fireplace-smart__image {
	position: relative;
	padding: 0px 0px 46.3% 0px;
	margin: -9.12% 0px 0px 0px;
}
.fireplace-smart__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ====== FOOTER ========================================================================================================================================== */
@media (min-width: 991.98px) {
	.menu {
		display: flex;
		align-items: center;
	}
}
@media (min-width: 1213.98px) {
	.filling__title .header-titles__subtitle {
		font-size: 18px;
		line-height: 1.83;
		letter-spacing: normal;
	}
}
@media (max-width: 1213.98px) {
	.firstscreen__decor {
		padding: 213px 0px calc(50px + 173 * ((100vw - 320px) / (1213.98 - 320))) 0px;
	}
	.page__benefits {
		padding: 0px 0px calc(50px + 49 * ((100vw - 320px) / (1213.98 - 320))) 0px;
	}
	.header-titles__title {
		font-size: calc(21px + 19 * ((100vw - 320px) / (1213.98 - 320)));
	}
	.header-titles__subtitle {
		font-size: calc(14px + 6 * ((100vw - 320px) / (1213.98 - 320)));
	}
	.header__logo {
		column-gap: calc(20px + 19 * ((100vw - 320px) / (1214 - 320)));
	}
	.menu__list {
		column-gap: calc(30px + 10 * ((100vw - 991.98px) / (1214 - 991.98)));
	}
	.header__menu:not(:last-child) {
		margin: 0px calc(30px + 30 * ((100vw - 991.98px) / (1214 - 991.98))) 0px 10px;
	}
	.firstscreen__image {
		width: calc(489px + 211 * ((100vw - 992px) / (1214 - 992)));
		height: calc(300px + 139 * ((100vw - 992px) / (1214 - 992)));
	}
	.firstscreen__value {
		margin: 0px 0px calc(40px + 46 * ((100vw - 320px) / (1213.98 - 320))) 0px;
	}
	.firstscreen__decor::before {
		left: calc(0px + -192 * ((100vw - 320px) / (1194 - 320)));
	}
	.filling__body {
		padding: 0px 0px 0px calc(0px + 85 * ((100vw - 925px) / (1213.98 - 925)));
	}
	.filling__content {
		padding: calc(50px + 53 * ((100vw - 925px) / (1213.98 - 925))) 0px 0px 0px;
	}
	.filling__image-column {
		padding: 0px 0px 0px calc(30px + 47 * ((100vw - 925px) / (1213.98 - 925)));
	}
	.filling__instruction {
		bottom: calc(0px + 107 * ((100vw - 850px) / (1213.98 - 850)));
	}
}
@media (max-width: 1213.98px) and (min-width: 849.98px) {
	.filling__value {
		font-size: 13px;
	}
	.filling__value-num {
		font-size: calc(24px + 12 * ((100vw - 855px) / (1213.98 - 855)));
	}
	.filling__text {
		font-size: 9px;
	}
}
@media (max-width: 991.98px) {
	.header {
		padding: 35px 0px;
	}
	.firstscreen__decor {
		padding: 150px 0px 0px 0px;
	}
	.firstscreen__content {
		flex: 1 1 auto;
	}
	.firstscreen__title {
		font-size: calc(30px + 34 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__value {
		font-size: calc(20px + 16 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__items {
		column-gap: calc(20px + 60 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__image {
		position: static;
		transform: translate(0px, 0px);
		flex: 1 1 auto;
		padding: 0px 0px 61.5% 0px;
	}
	.menu__body {
		overflow: auto;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(27, 27, 26, 0.9);
		padding: 200px 0px 0px 0px;
		transition: left 0.3s ease 0s;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 140px;
		background-color: rgba(27, 27, 26, 1);
		transition: left 0.3s ease 0s;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 35px;
	}
	.menu__link {
		font-size: 25px;
	}
	.header__container {
		column-gap: 30px;
	}
	.header__logo {
		order: 1;
	}
	.header__menu {
		order: 3;
	}
	.header__menu:not(:last-child) {
		margin: 0;
	}
	.header__phone {
		order: 2;
	}
	.icon-menu {
		display: block;
	}
	.icon-menu:focus + .menu__body,
	.icon-menu:focus + .menu__body::before {
		left: 0;
	}
	.icon-menu:focus span {
		width: 100%;
	}
	.icon-menu:focus span:nth-child(1) {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.icon-menu:focus span:nth-child(2) {
		opacity: 0;
	}
	.icon-menu:focus span:nth-child(3) {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
}
@media (max-width: 849.98px) {
	.benefits__image:not(:last-child) {
		margin: 0px 0px 33px 0px;
	}
	.benefits__items {
		flex-wrap: wrap;
	}
	.benefits__item {
		flex: 0 1 50%;
		column-gap: 20px;
	}
	.benefits__icon-block {
		flex: 0 0 40px;
		height: 40px;
	}
	.filling__row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.filling__content {
		flex: 0 1 675px;
	}
	.filling__title {
		text-align: center;
	}
	.header-titles__subtitle:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
	.filling__image-column {
		flex: 1 1 100%;
		padding: 0;
	}
	.filling__value {
		font-size: calc(12px + 2 * ((100vw - 478.98px) / (849.98 - 478.98)));
	}
	.filling__value-num {
		font-size: calc(22px + 14 * ((100vw - 478.98px) / (849.98 - 478.98)));
	}
	.filling__text {
		font-size: calc(8px + 2 * ((100vw - 478.98px) / (849.98 - 478.98)));
	}
	.filling__instruction {
		bottom: calc(0px + 107 * ((100vw - 479px) / (849.98 - 479)));
		left: 15px;
	}
}
@media (max-width: 767.98px) {
	.benefits__body {
		row-gap: 15px;
	}
}
@media (min-width: 600px) {
	
}
@media (min-width: 600px) and (max-width: 767.98px) {
	.header-titles__title_flex .header-titles__line {
		margin: 0px 20px;
	}
}
@media (max-width: 600px) {
	.header-titles__title_flex {
		flex-direction: column;
	}
	.header-titles__title_flex .header-titles__line {
		margin: 10px 0px;
	}
	.benefits__items {
		justify-content: center;
		row-gap: 30px;
		margin: 0;
	}
	.benefits__item {
		flex: 0 1 355px;
		padding: 0;
	}
	.benefits__icon-block {
		flex: 0 0 35px;
		height: 35px;
	}
	.benefits__text {
		font-size: calc(14px + 2 * ((100vw - 320px) / (600 - 320)));
	}
}
@media (max-width: 478.98px) {
	.header {
		padding: 15px 0px;
	}
	.header-titles__subtitle br {
		display: none;
	}
	.firstscreen__decor {
		padding: 146px 0px 0px 0px;
	}
	.firstscreen__items {
		column-gap: 0;
		margin: 0 -10px;
		row-gap: 20px;
	}
	.firstscreen__item {
		flex: 0 1 50%;
		padding: 0 10px;
	}
	.menu__body::before {
		height: 136px;
	}
	.header__container {
		justify-content: space-between;
		column-gap: 20px;
	}
	.header__phone {
		margin: 0px 0px 0px auto;
		flex: 0 0 40px;
		height: 40px;
	}
	.header__logo {
		flex-direction: column;
		text-align: center;
		flex: 0 1 auto;
	}
	.filling__info-block {
		width: 151px;
		height: 151px;
		position: relative;
		margin: 0px auto;
		top: auto;
		right: auto;
	}
	.filling__value {
		font-size: 14px;
	}
	.filling__value-num {
		font-size: 36px;
	}
	.filling__text {
		font-size: 10px;
	}
	.filling__image-block {
		margin: 0 -20px;
		display: flex;
		flex-direction: column;
		order: 1;
		align-items: center;
	}
	.filling__info-block {
		order: 3;
	}
	.filling__info-block::before {
		left: 50%;
		width: 300%;
		height: 250%;
	}
	.filling__instruction {
		position: relative;
		left: auto;
		bottom: auto;
		order: 2;
		text-align: center;
		margin: 0px 0px 20px 0px;
	}
	.filling__image {
		width: 100%;
	}
	.instruction-filling__icons {
		justify-content: center;
	}
}
