/* ===Подключаем шрифты==================================================================================================================================================== */

/* &display=swap&subset=cyrillic-ext */

@font-face {
	font-family: "Scania Sans CY Headline";
	src: url("../fonts/ScaniaSansCYHeadline-Regular.woff2") format("woff2"),
		url("../fonts/ScaniaSansCYHeadline-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2"),
		url("../fonts/LabGrotesque-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Light.woff2") format("woff2"), url("../fonts/LabGrotesque-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2"),
		url("../fonts/LabGrotesque-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lab Grotesque";
	src: url("../fonts/LabGrotesque-Thin.woff2") format("woff2"), url("../fonts/LabGrotesque-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

/* -----Normalize------------------------------------------------------------------------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 18px;
}
body {
	font-family: "Lab Grotesque", sans-serif;
	line-height: 1;
	color: #fff;
	background-color: #1b1b1a;
}

[class*="__container"] {
	max-width: 1224px;
	padding: 0 15px;
	margin: 0px auto;
}

[class*="_ibg"] {
	position: relative;
}

[class*="_ibg"] img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

/* -----Main-CSS------------------------------------------------------------------------------------------------------------------------------------------- */

/* ======= HEADER ========================================================================================================================================= */
.header {
	padding: 76px 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
}
.header__container {
	display: flex;
	align-items: center;
}
.header__logo {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	column-gap: 39px;
}
.header__logo-text {
	font-family: "Scania Sans CY Headline", sans-serif;
	font-size: 20px;
	line-height: 3.5;
	letter-spacing: 0.105em;
	color: #fff;
	white-space: nowrap;
}
.header__title {
	max-width: 100px;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: #6d6d6d;
}
.header__menu:not(:last-child) {
	margin: 0px 60px 0px 10px;
}
.menu {
	/* display: flex; */
	/* align-items: center; */
}
.menu__icon {
}
.icon-menu {
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	width: 50px;
	height: 30px;
	background-color: transparent;
}
.icon-menu span {
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	width: 75%;
	height: 2px;
	/* background-color: #fff; */
	background: linear-gradient(-135deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
	transition: all 0.3s ease 0s;
}
.icon-menu span:first-child {
	width: 100%;
	top: 0;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0;
	width: 50%;
}
.menu__body {
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}
.menu__item {
}
.menu__link {
	font-size: 13px;
	line-height: 1.23;
	letter-spacing: 0.05em;
	color: #949494;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}
.header__phone {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eccf94;
	border-radius: 2px;
	height: 50px;
	flex: 0 0 50px;
	box-shadow: 50px -50px 20px -50px rgba(249, 139, 77, 0.7) inset, -40px 50px 20px -50px rgba(255, 217, 196, 0.8) inset;
	transition: box-shadow 0.3s ease 0s;
}
.header__phone::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate( -50%, -50%);
	background: rgba(201, 115, 53, 0.1);
	filter: blur(15px);
	border-radius: 50%;
}
.header__phone-icon {
	width: 18px;
	height: 18px;
	position: relative;
	z-index: 2;
}
@media (any-hover: hover) {
	.menu__link:hover {
		color: #ffcf7a;
	}
	.header__phone:hover {
		box-shadow: 50px -50px 80px 0px rgba(249, 139, 77, 0.8) inset,
			-40px 50px 20px -50px rgba(255, 217, 196, 0.8) inset, 0px 0px 8px 0px rgba(249, 194, 77, 0.8);
	}
	.icon-menu:hover span {
		width: 100%;
	}
}
/* ======== PAGE ========================================================================================================================================== */
.page__firstscreen {
}
/* ======================================================================================================================================================== */
.firstscreen {
	position: relative;
	padding: 231px 0px 0px 0px;
}
.firstscreen::before {
	content: "";
	position: absolute;
	top: 173px;
	left: -192px;
	background-color: #000;
	width: 874px;
	height: 927px;
	border-radius: 300px;
	filter: blur(500px);
	transform: rotate(-45deg);
}
.firstscreen__container {
}
.firstscreen__body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
}
.firstscreen__content {
	position: relative;
	z-index: 2;
	flex: 0 1 780px;
}
.firstscreen__title {
	font-size: 64px;
	font-weight: 100;
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	background: linear-gradient(-160deg, #fff 60%, rgba(255, 255, 255, 0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.firstscreen__title:not(:last-child) {
	margin: 0px 0px 29px 0px;
}
.firstscreen__value {
	font-size: 36px;
	line-height: 1.11;
	font-weight: 300;
	color: #ffcf7a;
	letter-spacing: 0.05em;
}
.firstscreen__value:not(:last-child) {
	margin: 0px 0px 86px 0px;
}
.firstscreen__small-text {
	font-size: 18px;
}
.firstscreen__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 80px;
}
.firstscreen__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 120px;
}
.firstscreen__icon {
	width: 30px;
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.firstscreen__img {
}
.firstscreen__text {
	font-size: 14px;
	line-height: 1.57;
	text-align: center;
}
.firstscreen__image {
	position: absolute;
	top: 50%;
	right: 0;
	width: 700px;
	height: 429px;
	transform: translate(0%, -50%);
}
.firstscreen__bg-img {
	z-index: 1;
}
.firstscreen__decor-image {
	position: absolute;
	top: -25px;
	left: 50%;
	width: 55.71%;
	height: 37.99%;
	background: rgba(167, 79, 2, 0.25);
	filter: blur(70px);
	border-radius: 500px;
	transform: translate(-50%, 0%) rotate(161.87deg);
}
.firstscreen__decor-image::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 53.37%;
	width: 51.53%;
	background: rgba(255, 206, 122, 0.25);
	filter: blur(50px);
	border-radius: 500px;
	transform: translate(-50%, -50%) rotate(161.87deg);
}
/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ======================================================================================================================================================== */

/* ====== FOOTER ========================================================================================================================================== */
@media (min-width: 991.98px) {
	.menu {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 1213.98px) {
	.header__logo {
		column-gap: calc(20px + 19 * ((100vw - 320px) / (1214 - 320)));
	}
	.menu__list {
		column-gap: calc(30px + 10 * ((100vw - 991.98px) / (1214 - 991.98)));
	}
	.header__menu:not(:last-child) {
		margin: 0px calc(30px + 30 * ((100vw - 991.98px) / (1214 - 991.98))) 0px 10px;
	}
	.firstscreen__image {
		width: calc(489px + 211 * ((100vw - 992px) / (1214 - 992)));
		height: calc(300px + 139 * ((100vw - 992px) / (1214 - 992)));
	}
	.firstscreen__value {
		margin: 0px 0px calc(40px + 46 * ((100vw - 320px) / (1213.98 - 320))) 0px;
	}
}
@media (max-width: 991.98px) {
	.header {
		padding: 35px 0px;
	}
	.firstscreen {
		padding: 150px 0px 0px 0px;
	}
	.firstscreen__content {
		flex: 1 1 auto;
	}
	.firstscreen__title {
		font-size: calc(30px + 34 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__value {
		font-size: calc(20px + 16 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__items {
		column-gap: calc(20px + 60 * ((100vw - 320px) / (991.98 - 320)));
	}
	.firstscreen__image {
		position: static;
		transform: translate(0px, 0px);
		flex: 1 1 auto;
		padding: 0px 0px 61.5% 0px;
	}
	.menu__body {
		overflow: auto;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(27, 27, 26, 0.9);
		padding: 200px 0px 0px 0px;
		transition: left 0.3s ease 0s;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 140px;
		background-color: rgba(27, 27, 26, 1);
		transition: left 0.3s ease 0s;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 35px;
	}
	.menu__link {
		font-size: 25px;
	}
	.header__container {
		column-gap: 30px;
	}
	.header__logo {
		order: 1;
	}
	.header__menu {
		order: 3;
	}
	.header__menu:not(:last-child) {
		margin: 0;
	}
	.header__phone {
		order: 2;
	}
	.icon-menu {
		display: block;
	}
	.icon-menu:focus + .menu__body,
	.icon-menu:focus + .menu__body::before {
		left: 0;
	}
	.icon-menu:focus span {
		width: 100%;
	}
	.icon-menu:focus span:nth-child(1) {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.icon-menu:focus span:nth-child(2) {
		opacity: 0;
	}
	.icon-menu:focus span:nth-child(3) {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
}
@media (max-width: 478.98px) {
	.header {
		padding: 15px 0px;
	}
	.firstscreen {
		padding: 146px 0px 0px 0px;
	}
	.firstscreen__items {
		column-gap: 0;
		margin: 0 -10px;
		row-gap: 20px;
	}
	.firstscreen__item {
		flex: 0 1 50%;
		padding: 0 10px;
	}
	.menu__body::before {
		height: 136px;
	}
	.header__container {
		justify-content:space-between;
		column-gap: 20px;
	}
	.header__phone {
		margin: 0px 0px 0px auto;
		flex: 0 0 40px;
		height: 40px;
	}
	.header__logo {
		flex-direction: column;
		/* align-items: flex-start; */
		text-align: center;
		flex: 0 1 auto;
	}
}
