@font-face {
    font-family: 'Scania Sans CY';
    src: url('ScaniaSansCY-Regular.woff2') format('woff2'),
        url('ScaniaSansCY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scania Sans CY';
    src: url('ScaniaSansCY-Bold.woff2') format('woff2'),
        url('ScaniaSansCY-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

